@import "../../app/mixins.scss";

.wrapper {
  @include f-rules;
  flex-wrap: wrap;

  .experience {
    @include f-props(var(--fz-h1));
  }

  .description {
    font-size: var(--fz-normal);
  }

  .link {
    @include f-props(var(--fz-normal), calc(var(--fw-bold) - 400));

    .seeProjects {
      @include f-rules;
      text-decoration: none;
      color: var(--tertiary);
    }

    .arrow {
      z-index: -1;
      transform: rotate(270deg);
    }

    &:hover {
      opacity: 0.5;

      .arrow {
        transition: all 0.3s ease-in-out;
        transform: rotate(360deg);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin-top: 110px;
    justify-content: flex-start;
    gap: 5px;

    .experience {
      line-height: 0.8;
      margin-bottom: 10px;
    }

    .experience,
    .description {
      width: 90vw;
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    // @include margin;
    max-width: 45%;
    text-align: center;
    gap: 25px;
  }
}
