@import "../mixins.scss";

.layout {
  @include f-props(var(--fz-normal), default);
  color: var(--secondary);
  line-height: 1.5;
  gap: 25px;

  .sections {
    margin-top: -25px;
    @include column-aic;
  }
}

@media screen and (max-width: 768px) {
  .sections {
    margin-top: -50px;
  }
}

@media screen and (min-width: 768px) {
  .sections {
    margin-top: 144px;
    gap: 72px;
  }
}
